@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.my-image {
  animation: roll 3s infinite alternate;
}
